/* .sanjh{
  color: black;
  border: 2px solid;
  display: flex;
  justify-content: center;
  
  
} */


.headin1{
  font-size: 20px;
  font-weight: bold;
  margin: auto;
  border: 2px solid black;

}